# Скомпилированные файлы SA-MP
*.amx

# Временные файлы
*.tmp
*~

# Файлы, созданные редакторами кода
.vscode/
.idea/
*.suo
*.user
*.pdb
*.opensdf

# Папки с отладочной и релизной версиями
debug/
release/

# Сгенерированный файл с версией (если вы не хотите его коммитить)
compiler/include/github/git.inc

# Логи
*.log

# MacOS файлы
.DS_Store